<div class="xiaomi-land xiaomi-land--mi-9se">
  <div class="xiaomi-land__header">
    <p>Xiaomi Mi 9 SE</p>
    <img src="img/pic/xiaomi/mi-9se/xiaomi-1.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Тонкий. Стильный. Надежный</p>
  <div class="xiaomi-land__section xiaomi-land__section--feature">
    <img src="img/pic/xiaomi/mi-9se/xiaomi-2.jpg" alt="Xiaomi">
    <p>Xiaomi Mi 9 SE - это немного «облегченная» версия флагманского смартфона Xiaomi Mi 9. Устройство имеет более
      компактный формфактор и получило яркий AMOLED дисплей диагональю 5,97 дюйма. Тройная основная камера позволит
      снимать изумительные портретные или пейзажные фото, а также записывать видео в высоком разрешении. Смартфон
      оснащен дактилоскопическим подэкранным датчиком и модулем NFC. Для обеспечения длительной автономной работы Mi 9
      SE укомплектован емкой батареей и поддерживает функцию быстрой зарядки.</p>
  </div>
  <p class="xiaomi-land__subtitle">Дисплей</p>
  <div class="xiaomi-land__section xiaomi-land__section--display">
    <p>Xiaomi Mi 9 SE получил AMOLED дисплей диагональю 5,97 дюйма с разрешением FullHD+. Фронтальная панель практически
      лишена рамок, здесь присутствует лишь каплевидный вырез вверху под камеру. Эффективная площадь дисплея составляет
      90,47 %, это обеспечивает высокий комфорт при просмотре видео или во время игрового процесса. Улучшенная
      цветопередача и контрастность делают картинку на дисплее еще более живой и яркой.</p>
    <img src="img/pic/xiaomi/mi-9se/xiaomi-3.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Тонкий. Стильный. Надежный</p>
  <div class="xiaomi-land__section xiaomi-land__section--black">
    <img src="img/pic/xiaomi/mi-9se/xiaomi-4.jpg" alt="Xiaomi">
    <p>Xiaomi Mi 9 SE первым получил однокристальную систему Qualcomm Snapdragon 712, которая, по заявлениям
      специалистов, имеет прирост производительности порядка 10 %. Выполненная по 10-нм техпроцессу, система состоит из
      восьми вычислительных ядер и видеоускорителя Adreno 616. Поддержка фирменной технологии Game Turbo обеспечивает
      серьезную прибавку производительности во время игрового процесса.</p>
  </div>
  <p class="xiaomi-land__subtitle">Батарея и зарядка</p>
  <div class="xiaomi-land__section xiaomi-land__section--battery">
    <p>Пользуйтесь Xiaomi Mi 9 SE так долго, как вам нужно, без необходимости в подзарядке. Смартфон оснащен батареей
      емкостью 3070 мАч, в сочетании с энергоэффективным процессором это обеспечит много часов автономной работы
      устройства. Быстрая зарядка Quick Charge всего за 15 – 20 минут пополнит заряд с 0 до 50 %. Для подключения
      зарядного устройства здесь предусмотрен универсальный порт USB Type-C.</p>
    <img src="img/pic/xiaomi/mi-9se/xiaomi-5.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Основная камера</p>
  <div class="xiaomi-land__section xiaomi-land__section--camera">
    <img src="img/pic/xiaomi/mi-9se/xiaomi-6.jpg" alt="Xiaomi">
    <p>Основной модуль тройной камеры Xiaomi Mi 9 SE представляет собой сенсор Sony IMX586 разрешением 48 Мп и объектив
      с диафрагмой F/1,75. Второй модуль на 13 Мп соединен с широкоугольным объективом для получения атмосферных
      пейзажей. В третьем модуле разрешением 8 Мп применен телеобъектив с диафрагмой F/2.4 для съемок в «полевых»
      условиях.</p>
  </div>
  <p class="xiaomi-land__subtitle">Встроенные модули</p>
  <div class="xiaomi-land__section xiaomi-land__section--module">
    <p>Под экран Xiaomi Mi 9 SE встроен дактилоскопический датчик нового поколения, который за доли секунды «узнает»
      своего владельца и разблокирует для него смартфон. Наличие модуля NFC позволит удобно осуществлять бесконтактные
      платежи, а также поможет быстро обменяться информацией с другими устройствами, поддерживающими эту технологию.</p>
    <img src="img/pic/xiaomi/mi-9se/xiaomi-7.jpg" alt="Xiaomi">
  </div>
</div>