<div class="xiaomi-land xiaomi-land--note-4x">
  <div class="xiaomi-land__header">
    <p>Xiaomi<br> Redmi Note 4</p>
  </div>
  <p class="xiaomi-land__subtitle">Тонкий. Стильный. Надежный</p>
  <div class="xiaomi-land__section xiaomi-land__section--feature">
    <img src="img/pic/xiaomi/note-4x/xiaomi-2.jpg" alt="Xiaomi">
    <p>Сосредоточьтесь на тонкостях, достойных вашего внимания. Аппарат получил бесшовный металлический корпус, приятную
      на ощупь текстурированную поверхность, достигнутую благодаря пескоструйной обработке, и дисплей с изогнутым
      2.5D-стеклом. Изысканный дизайн подчеркивают акценты на боковых гранях, краях линзы и сканера, вырезах для кнопок,
      выполненные методом алмазной резки. Наслаждайтесь богатой цветовой палитрой с Full HD-дисплеем
      (1920 × 1080). Xiaomi Redmi Note 4 демонстрирует более яркую и динамичную картинку, с глубоким и четким
      воссозданием изображения.</p>
  </div>
  <p class="xiaomi-land__subtitle">Производительность без компромисов</p>
  <div class="xiaomi-land__section xiaomi-land__section--perfomance">
    <p>Благодаря мощной конфигурации, в которую входят восьмиядерный процессор Snapdragon 625 с частотой 2.0 ГГц, 3 Гб
      ОЗУ и графический ускоритель Adreno 506, смартфон демонстрирует фантастическую скорость в играх, режиме
      многозадачности и во время просмотра потокового видео в высоком разрешении. Выполненный по нормам 14-нанометрового
      технологического процесса, Snapdragon 625 предоставляет отличное сочетание производительности и
      энергоэффективности.</p>
    <img src="img/pic/xiaomi/note-4x/xiaomi-3.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Впечатляющая автономность</p>
  <div class="xiaomi-land__section xiaomi-land__section--autonomy">
    <img src="img/pic/xiaomi/note-4x/xiaomi-4.jpg" alt="Xiaomi">
    <p>Разговаривайте, играйте, серфьте в интернете – аккумулятор повышенной емкости позволит забыть о постоянной
      зарядке смартфона. 4100 мАч вполне достаточно, чтобы активно пользоваться аппаратом несколько дней, наслаждаться
      одним днем игр и 12 часами работы в режиме GPS. Вы будете приятно удивлены тем, как при увеличении плотности
      батареи (713Wh/L) удалось достичь удивительной тонкости корпуса – 8.35 мм.</p>
  </div>
  <p class="xiaomi-land__subtitle">Свобода творчества с камерой 13 Мп</p>
  <div class="xiaomi-land__section xiaomi-land__section--black">
    <p>Основная 13-мегапиксельная камера со сверхчетким датчиком и апертурой f/2.0 позволяет полноценно реализовать ваш
      творческий потенциал и просто запечатлеть важные моменты жизни. Наслаждайтесь максимально детализированными
      фотографиями движущихся объектов благодаря поддержке фазового автофокуса. Результат внедрения технологии HDR (High
      Dynamic Range) – сочные и контрастные снимки, представляющие собой несколько объединенных кадров, снятых с разной
      экспозицией.</p>
    <img src="img/pic/xiaomi/note-4x/xiaomi-5.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Полная безопасность</p>
  <div class="xiaomi-land__section xiaomi-land__section--protection">
    <img src="img/pic/xiaomi/note-4x/xiaomi-6.jpg" alt="Xiaomi">
    <p>Разблокируйте Redmi Note 4 буквально в одно касание без необходимости введения пароля – за мгновенный отклик
      отвечает высокоточный дактилоскопический датчик. Более удобный. Более безопасный. Функция сканирования отпечатка
      пальца способствует абсолютной защите личных данных и конфиденциальной информации. Оплачивайте интернет-покупки,
      не беспокоясь о нарушении границ персонального пространства.</p>
  </div>
  <p class="xiaomi-land__subtitle">Оболочка MIUI 8</p>
  <div class="xiaomi-land__section xiaomi-land__section--footer">
    <p>Раскройте полный потенциал Xiaomi Redmi Note 4 с обновленным интерфейсом MIUI 8. Вас ждет новый менеджер
      настройки смартфона, функция длительного скриншота, усовершенствованный калькулятор, полноценный видеоредактор и
      основательно переработанное приложение «Погода». Контролируйте заряд аккумулятора благодаря режиму сохранения
      энергии, чтобы оставаться на связи в самый ответственный момент. Аппарат учитывает личные предпочтения
      пользователя, предоставляя персонализированное меню быстрого доступа.</p>
    <img src="img/pic/xiaomi/note-4x/xiaomi-7.jpg" alt="Xiaomi">
  </div>
</div>