<div class="xiaomi-land xiaomi-land--redmi-note7">
  <div class="xiaomi-land__header">
    <p>Redmi <span>Note 7</span></p>
    <img src="img/pic/xiaomi/redmi-note7/xiaomi-1.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Элегантный и практичный дизайн</p>
  <div class="xiaomi-land__section xiaomi-land__section--design">
    <p>Redmi Note 7 – это первый смартфон самостоятельного бренда Redmi, поэтому его характеристикам уделялось особо
      тщательное внимание. Соотношение сторон дисплея составляет 19.5:9, смартфон удобно ложится в руку и обеспечивает
      комфортные ощущения от использования. Модель получила каплевидный вырез на верхней панели, толщина боковых рамок
      составляет всего 1.95 мм. Дисплей и тыльная панель покрыты закаленным ударопрочным стеклом Gorilla Glass 5.</p>
    <img src="img/pic/xiaomi/redmi-note7/xiaomi-2.jpg" alt="Xiaomi">
  </div>
  <img src="img/pic/xiaomi/redmi-note7/xiaomi-3.jpg" alt="Xiaomi">
  <p class="xiaomi-land__subtitle">Великолепное качество изображения</p>
  <div class="xiaomi-land__section xiaomi-land__section--quality">
    <img src="img/pic/xiaomi/redmi-note7/xiaomi-4.jpg" alt="Xiaomi">
    <p>Redmi Note 7 оснащен дисплеем диагональю 6.3 дюйма с разрешением Full HD + (2340 х 1080). Для дисплея заявлена
      яркость 450 нит, максимальная контрастность 1500:1 и охват 84 % цветового пространства NTSC. Изображение выглядит
      насыщенно и реалистично даже на ярком солнце. Дисплей просто создан для мультимедийных развлечений.</p>
  </div>
  <p class="xiaomi-land__subtitle">Основная камера</p>
  <div class="xiaomi-land__section xiaomi-land__section--camera">
    <p>Главной «изюминкой» Redmi Note 7 является основная камера со сдвоенным модулем. Основной сенсор изображения
      Samsung GM1 получил разрешение 48 Мп и размер диафрагмы F/1.8. Дополнительный модуль разрешением 5 Мп отвечает за
      анализ глубины сцены. Технология четырехкратного биннинга обеспечивает фото профессионального качества даже в
      условиях слабой освещенности. Применение алгоритмов искусственного интеллекта позволяет камере распознавать 238
      сцен в 27 категориях.</p>
    <img src="img/pic/xiaomi/redmi-note7/xiaomi-5.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Селфи камера</p>
  <div class="xiaomi-land__section xiaomi-land__section--selfi">
    <img class="xiaomi-land__image" src="img/pic/xiaomi/redmi-note7/xiaomi-6.jpg" alt="Xiaomi">
    <div>
      <p>В Redmi Note 7 установлена селфи камера разрешением 13 Мп. Технология искусственного интеллекта и алгоритмы
        улучшения качества снимков гарантируют получение естественных и невероятно ярких селфи, которыми так и хочется
        поделиться.</p>
      <ul>
        <li>
          <img src="img/pic/xiaomi/redmi-note7/selfi1.svg" width="48" height="55" alt="">
          <p>AI Макияж<br> <span>Мгновенная естественная красота</span></p>
        </li>
        <li>
          <img src="img/pic/xiaomi/redmi-note7/selfi2.svg" width="48" height="55" alt="">
          <p>АІ съемка<br> <span>Размывания заднего плана</span></p>
        </li>
        <li>
          <img src="img/pic/xiaomi/redmi-note7/selfi3.svg" width="48" height="55" alt="">
          <p>Фронтальная камера<br> <span>13 Мп</span></p>
        </li>
        <li>
          <img src="img/pic/xiaomi/redmi-note7/selfi4.svg" width="48" height="55" alt="">
          <p>AI распознавание<br> <span>Оптимизация в реальном времени</span></p>
        </li>
      </ul>
    </div>
  </div>
  <p class="xiaomi-land__subtitle">Внушительная производительность</p>
  <div class="xiaomi-land__section xiaomi-land__section--perfomance">
    <p>Основой Redmi Note 7 служит однокристальная система SoC Qualcomm Snapdragon 660, которая обеспечивает улучшенную
      производительность и скорость обработки данных. Стабильно высокая производительность позволяет пользоваться
      смартфоном в режиме многозадачности, работать в ресурсоемких приложениях, играть в большинство современных игр.
    </p>
    <img src="img/pic/xiaomi/redmi-note7/xiaomi-7-1.jpg" alt="Xiaomi">
    <img src="img/pic/xiaomi/redmi-note7/xiaomi-7-2.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Высокая автономность</p>
  <div class="xiaomi-land__section xiaomi-land__section--autonomy">
    <img src="img/pic/xiaomi/redmi-note7/xiaomi-8.jpg" alt="Xiaomi">
    <p>Redmi Note 7 оснащен аккумулятором емкостью 4000 мАч, который позволит долго не думать о необходимости пополнения
      заряда. Смартфон поддерживает быструю зарядку Quick Charge 4.0. Порт USB-C, который установлен в смартфоне, имеет
      симметричную форму и позволяет подсоединять кабель любой стороной.
    </p>
  </div>
  <p class="xiaomi-land__subtitle">Мгновенная разблокировка</p>
  <div class="xiaomi-land__section xiaomi-land__section--unlock">
    <p>Redmi Note 7 поддерживает сканирование лица, в чем ему помогает фронтальная камера. Смартфон за доли секунды
      «узнает» своего хозяина и мгновенно предоставляет доступ к приложениям. На задней панели традиционно расположен
      сканер отпечатков пальцев. Как защищать личную информацию – решать только вам.</p>
    <img src="img/pic/xiaomi/redmi-note7/xiaomi-9.jpg" alt="Xiaomi">
  </div>
</div>