<div class="xiaomi-land xiaomi-land--redmi-7">
  <div class="xiaomi-land__header">
    <img src="img/pic/xiaomi/redmi7/xiaomi-1.jpg" alt="Xiaomi">
    <div>
      <p>Redmi 7</p>
      <p class="xiaomi-land__subtitle">Самый быстрый в классе.<br> Мощность, постоянно с тобой.</p>
    </div>
  </div>
  <p class="xiaomi-land__subtitle">Тонкий. Стильный. Надежный</p>
  <div class="xiaomi-land__section xiaomi-land__section--features">
    <img src="img/pic/xiaomi/redmi7/xiaomi-2.jpg" alt="Xiaomi">
    <p>Смартфон Redmi 7 обладает гармоничными пропорциями и удобно размещается в руке. Изящный тонкий корпус со
      скругленными углами и гранями выглядит просто великолепно и внешне вполне может конкурировать с более дорогими
      моделями. Гидрофобное покрытие P2i обеспечивает смартфону надежную защиту от брызг: капли воды свободно стекают с
      корпуса, не причиняя устройству никакого вреда. Фронтальная панель гаджета покрыта ударопрочным стеклом Gorilla
      Glass 5.</p>
  </div>
  <p class="xiaomi-land__subtitle">Производительность</p>
  <div class="xiaomi-land__section xiaomi-land__section--perfomance">
    <p>Redmi 7 работает на базе производительной системы 14-нм SoC Snapdragon 632. В ее конфигурацию входят восемь ядер
      с тактовой частотой 1,8 ГГц и GPU Adreno 506. Стабильная работа системы даже в условиях пиковых нагрузок позволяет
      использовать смартфон для самых разных целей: просмотра видео, современных игр, использования ресурсоемких
      приложений, обработки фото и видео материалов и проч.</p>
  </div>
  <p class="xiaomi-land__subtitle">Безграничный дисплей</p>
  <div class="xiaomi-land__section xiaomi-land__section--display">
    <img src="img/pic/xiaomi/redmi7/xiaomi-4.jpg" alt="Xiaomi">
    <p>Дисплей Redmi 7 диагональю 6,26 дюйма и разрешением 1520 х 720 пикселей имеет отличную цветопередачу и высокую
      четкость изображения. Дисплей обладает хорошим цветовым охватом (84 % цветового пространства NTSC) и имеет
      сертификат TÜV Rheinland, что указывает на понижение синего спектра для защиты глаз. Практически полное отсутствие
      боковых рамок и небольшой каплевидный вырез вверху экрана визуально расширяют его границы, делают изображение
      более масштабным и реалистичным.</p>
  </div>
  <p class="xiaomi-land__subtitle">Фото отличного качества</p>
  <div class="xiaomi-land__section xiaomi-land__section--photo">
    <p>Благодаря сдвоенному модулю основной камеры вы сможете рассчитывать на великолепные снимки, сделанные при разном
      освещении. Основной фотомодуль на 12 Мп обладает крупными пикселями размером 1,25 мкм для фотосъемки в ночное
      время. Дополнительный модуль на 2 Мп отвечает за анализ глубины сцены. Алгоритмы искусственного интеллекта
      распознают 27 категорий и более двух сотен сцен, чтобы получить четкий яркий снимок, будь то интерьерная
      фотография, портрет или пейзажная съемка.</p>
    <img src="img/pic/xiaomi/redmi7/xiaomi-5.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Автономность</p>
  <div class="xiaomi-land__section xiaomi-land__section--autonomy">
    <p>Высокоемкая батарея на 4000 мАч и технология оптимизации энергопотребления обеспечивают много часов активного
      использования смартфона на одном заряде. По утверждениям производителей Redmi 7 рассчитан на 27 часов в режиме
      разговоров, на более чем 15 часов просмотра видео или на 8 часов непрерывной динамичной игры.</p>
    <img src="img/pic/xiaomi/redmi7/xiaomi-6.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Еще больше возможностей для общения</p>
  <div class="xiaomi-land__section xiaomi-land__section--sim">
    <img src="img/pic/xiaomi/redmi7/xiaomi-7.jpg" alt="Xiaomi">
    <p>Redmi 7 учитывает ваши требования в полноценном общении. Именно поэтому он имеет два слота под SIM-карты и еще
      один слот под карту Micro SD. Максимальная емкость карты памяти ограничена 512 Гб, а это означает огромные
      возможности для хранения текстовых документов, рабочих файлов, фото и видео контента.</p>
  </div>
  <p class="xiaomi-land__subtitle">Данные под защитой</p>
  <div class="xiaomi-land__section xiaomi-land__section--protection">
    <p>Redmi 7 оснащен современным дактилоскопическим датчиком на тыльной панели. Датчик за доли секунды отсканирует
      отпечаток пальца и разблокирует смартфон для своего владельца.</p>
    <img src="img/pic/xiaomi/redmi7/xiaomi-8.jpg" alt="Xiaomi">
  </div>
</div>