<div class="xiaomi-land xiaomi-land--redmi-4pro">
  <div class="xiaomi-land__header">
    <p>Xiaomi<br> <span>Redmi <span>4 Pro</span></span></p>
  </div>
  <p class="xiaomi-land__subtitle">Эра металических смартфонов</p>
  <div class="xiaomi-land__section xiaomi-land__section--era">
    <img src="img/pic/xiaomi/redmi-4pro/xiaomi-2.jpg" alt="Xiaomi">
    <p>Стильный металлический корпус Xiaomi Redmi 4 получен в результате сложных процессов обработки – тонкой резки с
      помощью ЧПУ, анодирования, пескоструйной обработки и последующей полировки. Созданный из прочного алюминия, он
      надежно защищает внутренние компоненты от повреждений, способствуя рассеиванию тепла, а эргономичный дизайн
      обеспечивает удобное удерживание смартфона одной рукой. Защитное стекло со скругленными краями (2.5D) создано для
      максимально комфортного управления.</p>
  </div>
  <p class="xiaomi-land__subtitle">MIUI 8 – максимальное удобство</p>
  <div class="xiaomi-land__section xiaomi-land__section--convenience">
    <p>Сколько перед Вами телефонов? Один или два? Новая функция, которая реализована в MIUI 8, поможет сделать для
      смартфона 2 отдельных системных пространства, одно из которых Вы можете применять для повседневных задач, а второе
      – для хранения важной для Вас информации. Различные ключи блокировки, позволяют перейти в одно из 2-х системных
      пространств, к тому же, Вы можете сделать отдельные аккаунты, в одном из которых Вы храните личные фото, а в
      другом пароли и другие важные данные, словно у Вас 2 телефона вместо одного!</p>
    <img src="img/pic/xiaomi/redmi-4pro/xiaomi-3.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Красочный экран</p>
  <div class="xiaomi-land__section xiaomi-land__section--display">
    <img src="img/pic/xiaomi/redmi-4pro/xiaomi-4.jpg" alt="Xiaomi">
    <p>Реалистичное отображение содержимого и разнообразие цветовой гаммы, все это объединил в себе 5-дюймовый Full HD
      IPS-экран. С ним Вы поистине сможете наслаждаться просмотром любимых кинофильмов. Когда Вы пользуетесь смартфонов
      перед сном (смотрите сериал, общаетесь в соц. сетях и т.д.), через некоторое время пропадает желание спать.
      Поскольку излучаемый экраном синий цвет, способствует выработке в организме мелатонина, который имеет прямое
      воздействие на качество сна.</p>
  </div>
  <p class="xiaomi-land__subtitle">Скоростной сканер отпечатка пальцев</p>
  <div class="xiaomi-land__section xiaomi-land__section--scanner">
    <p>На тыльной стороне Redmi 4, расположен скоростной сканер отпечатка пальцев, после легкого прикосновения к
      которому последует моментальная разблокировка смартфона. Специальная система корректировки отпечатков пальцев, с
      каждой разблокировкой, позволяет, повышать уровень распознаваемости. Мгновенное сканирование – быстро и безопасно!
    </p>
    <img src="img/pic/xiaomi/redmi-4pro/xiaomi-5.jpg" alt="Xiaomi">
  </div>
  <p class="xiaomi-land__subtitle">Скоростной сканер отпечатка пальцев</p>
  <div class="xiaomi-land__section xiaomi-land__section--gold">
    <img src="img/pic/xiaomi/redmi-4pro/xiaomi-6.jpg" alt="Xiaomi">
    <p>Четырехфазная технология автофокусировки, за считанные доли секунды позволит Вам запечатлеть эмоции ребенка и
      впечатляющие трюки на скейтборде или паркуре.</p>
  </div>
  <p class="xiaomi-land__subtitle">Мультифункциональный слот</p>
  <div class="xiaomi-land__section xiaomi-land__section--slot">
    <p>Вы можете использовать мультифункциональный карточный слот для сим-карты, что очень удобно, так как Вам нет
      необходимости носить 2 телефона с собой. А также, если Вам недостаточно встроенной памяти смартфона, Вы можете
      использовать карточный слот для флэш-карты, максимально поддерживаемый объем которой составляет 128 ГБ.</p>
    <img src="img/pic/xiaomi/redmi-4pro/xiaomi-7.jpg" alt="Xiaomi">
  </div>
</div>