<div class="xiaomi-land xiaomi-land--redmi-4x">
  <div class="xiaomi-land__header">
    <p>Xiaomi <span>Redmi 4X</span></p>
    <picture>
      <source srcset="img/pic/xiaomi/redmi-4x/xiaomi-1.jpg" media="(min-width: 1179px)">
      <img src="img/pic/xiaomi/redmi-4x/xiaomi-1-mobile.jpg" width="315" height="236" alt="Xiaomi">
    </picture>
  </div>
  <p class="xiaomi-land__subtitle">Мощьный аккумулятор<br> Грандиозные возможности</p>
  <div class="xiaomi-land__section xiaomi-land__section--black">
    <picture>
      <source srcset="img/pic/xiaomi/redmi-4x/xiaomi-2.jpg" media="(min-width: 1179px)">
      <img src="img/pic/xiaomi/redmi-4x/xiaomi-2-mobile.jpg" alt="Xiaomi">
    </picture>
    <p>Роскошный 5-дюймовый IPS-дисплей, аккумулятор повышенной емкости и качественная 13-мегапиксельная камера с
      фазовым автофокусом созданы, чтобы превосходить ваши ожидания и делать самые значимые моменты еще эффектнее. А
      благодаря сканеру отпечатков пальцев вы можете быть уверены в надежной защите личной информации.</p>
  </div>
  <p class="xiaomi-land__subtitle">Утонченный образ</p>
  <div class="xiaomi-land__section xiaomi-land__section--pink">
    <p>Роскошный 5-дюймовый IPS-дисплей, аккумулятор повышенной емкости и качественная 13-мегапиксельная камера с
      фазовым автофокусом созданы, чтобы превосходить ваши ожидания и делать самые значимые моменты еще эффектнее. А
      благодаря сканеру отпечатков пальцев вы можете быть уверены в надежной защите личной информации.</p>
    <picture>
      <source srcset="img/pic/xiaomi/redmi-4x/xiaomi-3.jpg" media="(min-width: 1179px)">
      <img src="img/pic/xiaomi/redmi-4x/xiaomi-3-mobile.jpg" alt="Xiaomi">
    </picture>
  </div>
  <p class="xiaomi-land__subtitle">Для активных людей</p>
  <div class="xiaomi-land__section xiaomi-land__section--yellow">
    <picture>
      <source srcset="img/pic/xiaomi/redmi-4x/xiaomi-4.jpg" media="(min-width: 1179px)">
      <img src="img/pic/xiaomi/redmi-4x/xiaomi-4-mobile.jpg" alt="Xiaomi">
    </picture>
    <p>Решили отправиться навстречу новым эмоциям, посмотреть весь последний сезон любимого сериала или делать selfie
      весь день напролет? Вперед! Столь утонченный смартфон оснащен батареей емкостью 4100 мАч, способной проработать до
      двух дней без подзарядки. И даже больше. Забудьте о внезапном истощении аккумулятора – развлекайтесь без любых
      ограничений.</p>
  </div>
  <div class="xiaomi-land__section xiaomi-land__section--violet">
    <p>Что бы вы ни делали на Redmi 4X, вы будете делать это легко и с удовольствием. Благодаря производительному
      восьмиядерному процессору Snapdragon 435 и быстрым сетям новый блокбастер или любимый подкаст на устройстве
      загружается без промедлений. Оцените мгновенный отклик интерфейса, когда вы играете, пользуетесь браузером или
      работаете.</p>
  </div>
  <p class="xiaomi-land__subtitle">Великолепное качество в каждом пикселе</p>
  <div class="xiaomi-land__section xiaomi-land__section--white">
    <p>Смартфон оснащается экраном, выполненным по технологии IPS, с разрешением 1280 x 720 и пиксельной плотностью 294
      ppi. Изображение на таком дисплее отличается высокой яркостью, невероятной детализацией и насыщенными оттенками.
      Объекты на экране выглядят так реалистично и четко, что кажется, будто к ним можно прикоснуться.</p>
    <picture>
      <source srcset="img/pic/xiaomi/redmi-4x/xiaomi-6.jpg" media="(min-width: 1179px)">
      <img src="img/pic/xiaomi/redmi-4x/xiaomi-6-mobile.jpg" alt="Xiaomi">
    </picture>
  </div>
  <div class="xiaomi-land__section xiaomi-land__section--green">
    <p>13-мегапиксельная камера Xiaomi Redmi 4X с фазовым автофокусом для мгновенного захвата кадра и светосилой f/2.0
      демонстрирует великолепный результат съемки и в яркий солнечный день, и в звездную ночь. Камера способна
      запечатлеть любые неожиданные и быстротечные мгновения – наслаждайтесь выразительными, четкими и красочными
      фотографиями, которые обогатят вашу галерею воспоминаний.</p>
  </div>
</div>