<div class="card frame frame--shadowed">
  <div class="card__stickers card__stickers--vertical">
    <span class="sticker sticker--bordered sticker--color-green2">В наличии</span>
    <span class="sticker sticker--bordered sticker--color-red">Cкидка 15%</span>
  </div>
  <a href="#" title="Подробнее" class="card__image-wrap">
    <img src="img/card.jpg" alt="" class="card__image" />
  </a>
  <div class="card__description">
    <div class="card__stickers">
      <span class="sticker sticker--color-green">Суперцена</span>
    </div>
    <h3 class="card__title">
      <a href="#" title="Подробнее">Apple iPhone XS A Apple iPhone XS App</a>
    </h3>
    <div class="price">
      <span class="price__current price__current--bright">от 10&nbsp;990&nbsp;₽</span>
    </div>

  </div>
  <div class="card__buttons">
    <a href="" class="card__button-big btn btn--bg-green btn--size-xxs">Купить в Trade-IN</a>
  </div>
</div>