<div class="card card--wide">
  <div class="card__image-wrap">
    <img src="img/card-wide.jpg" alt="" class="card__image">
  </div>
  <div class="card__description">
    <div class="card__stickers">
      <span class="sticker sticker--color-pink">Новинка</span>
      <span class="sticker sticker--color-green">Суперцена</span>
    </div>
    <h3 class="card__title">Apple&nbsp;iPhone&nbsp;Xs Max 256Gb Gold (MT552)</h3>
    <div class="price price--columned">
      <div class="price__profit price__profit--rowed">
        <span class="price__old">59&nbsp;990&nbsp;₽</span>
        <span class="price__discount">-&nbsp;5000&nbsp;₽</span>
      </div>
      <span class="price__current price__current--size-md">53&nbsp;990&nbsp;₽</span>
    </div>
    <div class="card__buttons">
      <span class="btn btn--bg-green btn--size-s btn--textsize-s">В корзину</span>
      <span class="btn btn--bg-red btn--size-s btn--textsize-s" uk-toggle="target: #popup-buy">Купить в 1
        клик</span>
      <button class="btn__credit" uk-toggle="target: #popup-buy-credit">
        <svg class="btn__credit-icon">
          <use xlink:href="img/symbol/sprite.svg#credit"></use>
        </svg>
        <span><span class="btn__credit-green">Расчитать&nbsp;кредит</span><br /><span
            class="btn--text-none">от&nbsp;<span
              class="btn__credit-big">1440&nbsp;&#x20bd;</span>&nbsp;в&nbsp;месяц</span></span>
      </button>
    </div>
  </div>
</div>