<div class="news">
    <ul class="news__list">
        <li class="news__item news__item--max-width">
            //= ../components/announce--upper.html
        </li>
        <li class="news__item">
            //= ../components/announce.html
        </li>
        <li class="news__item">
            //= ../components/announce.html
        </li>
        <li class="news__item">
            //= ../components/announce.html
        </li>
        <li class="news__item">
            //= ../components/announce.html
        </li>
        <li class="news__item">
            //= ../components/announce.html
        </li>
        <li class="news__item">
            //= ../components/announce.html
        </li>
        <li class="news__item">
            //= ../components/announce.html
        </li>
        <li class="news__item">
            //= ../components/announce.html
        </li>
        <li class="news__item">
            //= ../components/announce.html
        </li>
    </ul>
    //= ../components/pagination/pagination.html
</div>