<div class="subscribe frame frame--shadowed">
  <div class="subscribe__content">
    <h3 class="subscribe__title">Подписаться на&nbsp;рассылку</h3>
    <p>Получайте оповещения об акциях и специальных предложениях
      в удобный для вас месседжер или на почту</p>
    <form action="" class="subscribe__form">
      <div class="field subscribe__field">
        <label class="field__title" for="">Телефон</label>
        <input class="field__input field__input--shaded" type="" name="" id="" />
      </div>
      <a href="" class="subscribe__button-wrap">
        <svg class="subscribe__buttons">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/symbol/sprite.svg#mail"></use>
        </svg>
        Email
      </a>
      <a href="" class="subscribe__button-wrap">
        <svg class="subscribe__buttons">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/symbol/sprite.svg#viber"></use>
        </svg>
        Viber
      </a>
      <a href="" class="subscribe__button-wrap">
        <svg class="subscribe__buttons">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/symbol/sprite.svg#whatsapp"></use>
        </svg>
        WhatsApp
      </a>
      <a href="" class="subscribe__button-wrap">
        <svg class="subscribe__buttons">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../img/symbol/sprite.svg#telegram"></use>
        </svg>
        Telegram
      </a>
    </form>
  </div>
  <img class="subscribe__image" src="img/pic/phones/subscribe.png" alt="iPhone XS" />
</div>