.tab-col {
    @include screen(lg) {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }

    &--right {
        @include screen(lg) {
            float: right;
            padding-left: 25px;
        }
    }

    &--left {
        @include screen(lg) {
            float: left;
            padding-right: 5px;
        }
    }

    &--shifted {
        @include screen("lg") {
            width: 48%;
            margin-left: 20px;
        }
    }
}

.tab-question {
    @include screen(smlim) {
        order: 2;
    }
}